.panel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    bottom: 0px;
    position: fixed;
}

.button-container {
    display: flex;
    bottom: 20%;
    position: fixed;
    gap: 15px;
}

.qr-code-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #FFFFFF;
    display: inline-block; 
}