.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button-containerr {
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    width:  calc(100% + 3 * 30px);
    padding: 0 15px;
    align-items: center;
}

.button-containterr>* {
    flex: 1 1 200px;
}