.vscode
.idea
build/
c++/CMakeCache.txt
c++/CMakeFiles/

CMakeLists.txt.user
*.o
*.so
*.lib
*.d
*.a
*.csv
compile_commands.json

# dependencies
/measurements/*
/javascript/backend/node_modules
/javascript/frontend/node_modules
/javascript/frontend/.pnp
/javascript/frontend/.pnp.js
/javascript/new_frontend/node_modules

# testing
/javascript/frontend/coverage

# production
/javascript/frontend/build

# misc
.DS_Store
/javascript/frontend/.DS_Store
/javascript/frontend/.env.local
/javascript/frontend/.env.development.local
/javascript/frontend/.env.test.local
/javascript/frontend/.env.production.local

javascript/frontend/npm-debug.log*
javascript/frontend/yarn-debug.log*
javascript/frontend/yarn-error.log*
vcpkg_installed
